.root , .themeScroll , .themeVbox{
    -fx-background-color: #2f2f2f;
}

.themeScroll , .themeVbox{
    -fx-border-color: transparent;
}

.themeScroll{
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER; 
}

.color , .content.label {
    -fx-text-fill: yellow;
    -fx-fill: yellow;
}

.colorInv{
    -fx-text-fill: black;
    -fx-fill: black;
}

.pos1{
    -fx-background-color: black;
}

.pos2{
    -fx-background-color: yellow;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.lienDomaineNc{
    -fx-text-fill: yellow;
    -fx-border-color: transparent;
}