.root , .themeScroll , .themeVbox{
    -fx-background-color: #2f2f2f;
}

.themeScroll , .themeVbox, .lienDomaineNc{
    -fx-border-color: transparent;
}

.themeScroll{
    -fx-hbar-policy: NEVER;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: gray;
}

.color , .content.label, .colorInv,.lienDomaineNc{
    -fx-text-fill: yellow;
    -fx-fill: yellow;
}

.pos1{
    -fx-background-color: #5b625c;
}

.pos2{
    -fx-background-color: black;
}

.label , .list-view .list-cell {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view .list-cell{
    -fx-background-color: #2f2f2f;
    -fx-text-fill: yellow;
    -fx-padding: 1px;
}

.list-view .scroll-bar{
    -fx-background-color: #2f2f2f;
}
